.card {
  background-color: #eeeeee;
}

.containerCard {
  margin-left: 10em;
  margin-right: 10em;
}

.divCard {
  display: inline;
  width: 200px;

}



.containerBotões {
  margin-top: 3em;
  margin-left: 10em;
  margin-right: 10em;
  margin-left: 75%;



}

.botão {
  display: inline;
  margin-left: 1em;
}

table {
  width: 100%;
}

.divContainerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.inativo {
  background-color: #cccccc;
}

.saldoPositivo {
  color: blue;
}

.saldoNegativo {
  color: red;
}

.containerPagamento{
  position: absolute;
  top: 150px;

  width: 100%;

}

.containerPainel{
  position: relative;
}
