.históricoCard{
  margin-top: 2px;
}


.containerHistorico{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;


}

.boxHistorico{
  width: 30%;
  background-color: #eeeeee;
  margin-bottom: 2em;
}

.containerCard {
  margin-right: 2em;
  margin-bottom: 2px;
}

li {
  list-style: none;
}
