body{
  background-color: #eeeeee;
  width: 50%;
  height: 320px;
  margin: auto;
  margin-bottom: 20px;


}
@media screen and (max-width: 768px) {
  body{
    width: 98%;

  }
}
h1{
  margin: 5px 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

p{
  margin: 0px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
select{
  margin-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  display: flex;
  justify-content: space-between;
}
input{
  display: flex;
  margin-left: 70px;
  width: 160px;
  padding: 8px;
  margin-left: 20px;
}

.iconPagador{
  color: red;
  font-size: 70px ;
  width: 100px;
  height: 70px;
  margin-left: 120px;
}
@media screen and (max-width: 768px) {
  .iconPagador{
    margin-left: initial;
    margin: auto;
  }
}



.iconRecebedor{
  color: blue;
  font-size: 70px ;
  width: 100px;
  height: 70px;
  margin-left: 120px;

}
@media screen and (max-width: 768px) {
  .iconRecebedor{
    margin-left: initial;
    margin: auto;
  }
}




.container-pagamento{
  background-color: #eeeeee;
  width: 100%;
  display: flex;
  height: 200px;
  justify-content: space-between;


}

.pagador{
  background-color: rgb(255, 0, 0, 0.5);
  width: 45%;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .pagador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

  }
}
.recebedor{
  background-color: rgb(100, 100, 255, 0.5);
  width: 45%;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;

}
@media screen and (max-width: 768px) {
  .recebedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

  }
}

@media screen and (max-width: 768px) {
  select{
    display: inline-block;
    margin: auto;

  }
}



button{
  margin-right: 20px;
}

.divCancelar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee ;
  margin-top: -36px;
}




